{% if network %}
    <ul>
        <li>Network ID: {{ network.id }}</li>
    </ul>
    <form action="/verify/edit_network?id={{ network.id }}" method="post">
        <label for="type">Network Type:</label>
        <input id="type" type="text" name="type" value="{{ network.type }}"> <br>
        <label for="name">Network Name:</label>
        <input id="name" type="text" name="name" value="{{ network.name }}"> <br>
        <label for="asn">AS #:</label>
        <input id="asn" type="number" name="asn" value="{{ network.ASNumber }}"> <br>
        <label for="latitude">Latitude:</label>
        <input id="latitude" type="number" step="any" name="latitude" value="{{ network.latitude }}"> <br>
        <label for="longitude">Longitude:</label>
        <input id="longitude" type="number" step="any" name="longitude" value="{{ network.longitude }}"> <br>
        <label for="city">City:</label>
        <input id="city" type="text" name="city" value="{{ network.city }}"> <br>
        <label for="region">Region:</label>
        <input id="region" type="text" name="region" value="{{ network.region }}"> <br>
        <label for="country">Country:</label>
        <input id="country" type="text" name="country" value="{{ network.country }}"> <br>
        <label for="isVideo">Video Network</label>
        <input id="isVideo" type="radio" name="isVideo" value="True" checked> True <input id="isVideo" type="radio" name="isVideo" value="False"> False <br>
        <input type="submit" value="Submit">
    </form>
{% else %}
    <p>No network is with id {{ network.id }}.</p>
{% endif %}