{% if sessionType %}
<h1>Show session infomation for {{ sessionType }} sessions</h1>
{% endif %}
{% if sessions %}
<table style="width:100%">
    <tr>
        <td>ID</td>
        <td>Src IP</td>
        <td>Dst IP</td>
        <td>Route</td>
        <td>Sub-networks</td>
    </tr>
    {% for session in sessions %}
        <tr>
        <td> {{ session.id }} </td>
        <td> {{ session.src_ip }} </td>
        <td> {{ session.dst_ip }} </td>
        <td><a href="/verify/get_route?src={{ session.src_ip }}&dst={{ session.dst_ip }}">Route Details</a></td>
        <td><a href="/verify/get_subnetworks?src={{ session.src_ip }}&dst={{ session.dst_ip }}">Sub-networks' details</a></td>
    {% endfor %}
</table>
{% else %}
    <p>No session's info are available.</p>
{% endif %}